.img {
  width: 100%;
}

.logos {
  width: 55%;
}

#welcome {
  margin-top: 10rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: #212121;
}

.center {
  margin: 0 auto;
}

.subtitle {
  margin-top: 0.9rem;
  font-size: 1.5rem;
  text-align: justify;
  letter-spacing: 1px;
  color: #757575;
}

.subtitle + .subtitle {
  margin-top: 2.7rem;
}

.medium-title {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-weight: 500;
  color: #212121;
  text-align: right;
}

.vetor1 {
  align-items: center;
  margin-top: 5rem;
  width: 68%;
}

.vetor2 {
  margin-top: 3rem;
  width: 55%;
}

.link {
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 600;
  text-decoration: none;
  color: #757575;
}

.custom {
  text-align: right;
}

#barracas {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#button-landing {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
  width: 100%;
  height: 85px;
  background-color: #03A9F4;
  border: none;
  font-size: 1.5rem;
  transform: initial background-color 0.8s;
}

#button-landing:hover {
  background-color: #0288D1;
}


#idealizadores {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#section-on-footer {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#button-landing-on-footer {
  margin-top: 4.3rem;
  margin-bottom: 4.3rem;
  width: 60%;
  height: 85px;
  background-color: #03A9F4;
  border: none;
  font-size: 1.5rem;
  transform: initial background-color 0.8s;
}

#button-landing-on-footer:hover {
  background-color: #0288D1;
}

#col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  #button-landing-on-footer{
    width: 95%;
  }
  
  .logos {
    width: 95%;
  }
  .vetor1 {
    align-items: center;
    margin-top: 5rem;
    width: 75%;
  }
  
  .vetor2 {
    display: none;
  }
}