.helper-footer {
  padding: 0;
}

.buttons-contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.button-contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  font-weight: 600;
  color: #fff;
}

.email {
  background-color: #03a9f4;
  border-bottom-left-radius: 8px;
  transition: background-color 0.2s;
}

.email:hover {
  background-color: #0288d1;
}

.whatsapp {
  background-color: #4caf50;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: background-color 0.2s;
}

.whatsapp a {
  text-decoration: none;
  color: #fff;
}

.whatsapp:hover {
  background-color: #388e3c;
}
