.recipe-header {
  margin-top: 3rem;
  height: auto;
  width: 100%;
  color: #212121;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.recipe-header .recipe-title {
  font-size: 3rem;
  font-weight: 600;
}

.recipe-header .recipe-description {
  font-size: 1.5rem;
}

.img-wrapper {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

.recipe-image {
  transform: translateY(-20%);
  width: 100%;
}

.recipes-subtitle-page {
  width: 100%;
}

ul {
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
}

.row-recipe {
  text-indent: 1rem;
  margin-top: 0.8rem;
}