.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 30rem;
  width: 20rem;
  border-radius: 8px;
  border: 0.3rem solid #43A047;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-group {
  position: relative;
  width: 18rem;
}

.form-control {
  position: absolute;
  background: transparent;
  border: 0.2rem solid #43A047;
  border-radius: 8px;
  width: 100%;
  height: 2.6rem;
}

.custom-label {
  color: #bdbdbd;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  top: 0.3rem;
  left: 0.5rem;
  pointer-events: none;
  display: block;
  transition: 0.5s;
}

.button-signin {
  width: 7rem;
  font-weight: 600;
  background-color: #03A9F4;
  border: none;
  font-size: 1rem;
  transform: background-color 0.8s;
}

.button-signin:hover {
  background-color: #0288D1;
}

.form-control:focus {
  border-color: #43A047;
  box-shadow: 0 0 0 .2rem #C8E6C9;
}

.form-control:focus + .custom-label{
  
  color: #212121;
  transform: translateY(-20px);
}

#potirural {
  font-size: 2.5rem;
  font-weight: 600;
  color: #43A047;
}
