.container-recipes {
  width: 100vw;
  height: 100vh;
}

.text-header-recipes {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
  color: #43A047;
}

.row-right {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.row-right a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #43A047;
  text-decoration: none;
}