.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-signup {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-header {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signup-button{
  height: 3rem;
  width: 9rem;
  font-weight: 600;
  background-color: #03A9F4;
  border: none;
  font-size: 1.2rem;
  transform: background-color 0.8s;
}

.signup-button:hover {
  background-color: #0288D1;
}


.no-decoration:hover {
  text-decoration: none;
}

@media (max-width: 576px) {
  .signup-container {
    height: 135vh;
  }

  .form-signup {
    display: block;
    justify-content: center;
  }
  
  .form-header{
    margin-top: 5rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }

  .custom-row-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .col {
    margin-top: 1.5rem;
    width: 100%;
  }
  
  .signup-button {
    margin-top: 2rem;
    width: 100%;
  }
}